// Mixins in here

// .box(@background-color; @border-radius; @width) {
//     box: @background-color @border-radius @width;
// }

// .button(@color, @width, @height) {
//     color: @color;
//     width: @width;
//     height: @height;
// }

.font-size(@font-size, @color, @background-color, @width, @height, @border-radius, @text-align, @padding-top){
    font-size: @font-size;
    background-color: @background-color;
    color: @color;
    background-color: @background-color;
    width: @width;
    height: @height;
    border-radius: @border-radius;
    text-align: @text-align;
    padding-top: @padding-top;

}


